{% extends "/base.html" %}

{% block title %}
  Containers on {{ host.ip }}
{% endblock %}

{% block main %}
  {% for container in containers %}
    <div class="col-xs-6 col-md-4">
      <a href="#" class="thumbnail btn btn-success">
        <div class="caption">
          <dl class="dl-horizontal">
            <dt>容器ID</dt>
            <dd>{{container.container_id[:7]}}</dd>
            <dt>端口</dt>
            <dd>{{container.port}}</dd>
            <dt>应用名称</dt>
            <dd>{{container.application.name}}</dd>
            <dt>应用版本</dt>
            <dd>{{container.application.version}}</dd>
            <dt>Daemon</dt>
            <dd>{{container.daemon_id or '-'}}</dd>
          </dl>
        </div>
      </a>
    </div>
  {% endfor %}
{% endblock %}
