{% extends "/ui.html" %}
{% import "/utils.html" as utils %}

{% block main_right %}
  <table class="table">
    <thead>
      <tr>
        <td>#</td>
        <td>Url</td>
        <td>ES</td>
        <td>etcd</td>
        <td>influxdb</td>
      </tr>
    </thead>
    <tbody>
      {% for index, dot in enumerate(pod.dots) %}
      <tr>
        <td>{{index+1}}</td>
        <td>{{dot.url}}</td>
        <td>{{dot.es}}</td>
        <td>{{dot.etcd}}</td>
        <td>{{dot.influxdb}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% call utils.panel_div('default', '增加一个 Dot') %}
    <form class="form-horizontal" role="form" action="{{url_for('pod.pod_dot', pod_id=pod.id)}}" method="post">
      <div class="form-group">
        <label class="col-sm-3 control-label">Dot Url</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" name="dot">
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-3 control-label">Elastic Search Url</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" name="es">
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-3 control-label">Etcd Url</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" name="etcd">
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-3 control-label">Influxdb Url</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" name="influxdb">
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-3 col-sm-9">
          <button type="submit" class="btn btn-default">增加</button>
        </div>
      </div>
    </form>
  {% endcall %}
{% endblock %}

{# vim:set ft=jinja: #}
