{% extends "/ui.html" %}
{% block more_css %}
tbody td {
    vertical-align: middle !important;
}
{% endblock more_css %}
{% import "/utils.html" as utils %}

{% block main_right %}
  <table class="table">
    <thead>
      <tr>
        <td>Name</td>
        <td>Email</td>
        <td>Admin</td>
        <td>Core Quota (Used / Total)</td>
      </tr>
    </thead>
    <tbody>
      {% for up in pod.user_pods %}
      <tr>
        <td>{{up.user.name}}</td>
        <td>{{up.user.email}}</td>
        <td>{{up.user.is_admin()}}</td>
        <td>
            {{up.core_quota_used}} / {{up.core_quota}}
            {% if g.user.is_admin() %}
                <input type='text'><button class='btn btn-primary btn-change-quota' data-upid='{{ up.id }}'>Change Quota</button>
            {% endif %}
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <script>
    $('.btn-change-quota').click(function() {
        var idUserPod = $(this).data('upid');
        var coreQuota = $(this).attr('disabled', 'disabled').prev().val();
        $.post('/pod/pod/change_quota', {user_pod: idUserPod, core_quota: coreQuota}
            ).success(function() {window.location.reload()}
            ).error(function() {window.location.reload()});
    });
  </script>
  {% call utils.panel_div('default', '增加一个用户') %}
    <form class="form-horizontal" role="form" action="{{url_for('pod.pod_user', pod_id=pod.id)}}" method="post">
      <div class="form-group">
        <label class="col-sm-2 control-label">User Email</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" name="email">
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button type="submit" class="btn btn-default">增加</button>
        </div>
      </div>
    </form>
  {% endcall %}
{% endblock %}

{# vim:set ft=jinja: #}
