{% extends "/base.html" %}
{% import "/utils.html" as utils %}

{% block title %}
  Marco Applications
{% endblock %}

{% block main_left %}
  <div class="list-group">
    <a class="list-group-item" href="{{url_for('app.single_version', name=app.name, version=app.version)}}">{{app.name}} @ {{app.version}}</a>
  </div>
{% endblock %}

{% block main_right %}

  {% if st.processing() %}
    <div class="alert alert-info" role="alert">正在执行...</div>
  {% elif st.success() %}
    <div class="alert alert-success" role="alert">成功</div>
  {% else %}
    <div class="alert alert-warning" role="alert">失败</div>
  {% endif %}

  <div class="list-group">
    <div class="list-group-item list-group-item-info">任务信息</div>
    <li class="list-group-item"><span class="task-label">创建时间:</span><span>{{st.create_time()}}</span></li>
    <li class="list-group-item"><span class="task-label">任务类型:</span><span>{{st.kind_cn()}}</span></li>
    <li class="list-group-item"><span class="task-label">任务状态:</span><span>{{'运行...' if st.processing() else '完成'}}</span></li>
    <li class="list-group-item"><span class="task-label">完成时间:</span><span>{{st.finish_time()}}</span></li>
    <li class="list-group-item"><span class="task-label">任务结果:</span><span>{{st.result}}</span></li>
  </div>

  {% if st.processing() %}
    <pre id="task-log"></pre>
    <script>
      var ws = new WebSocket('{{ws_url}}');
      ws.onmessage = function(e) {
          $('#task-log').append('\n' + e.data);
          $(window).scrollTop($(document).height() - $(window).height());
      }
      ws.onopen = function(e) {
          $('#task-log').html('Connected');
      }
      ws.onerror = function(e) {
          $('#task-log').removeClass('alert-info').addClass('alert-error');
      }
      ws.onclose = function(e) {
          $('#task-log').append('Closed');
      }
    </script>
  {% else %}
      <pre>{{'\n'.join(logs)}}</pre>
  {% endif %}

{% endblock %}

{% block more_css %}
  .task-label { margin-right: 10px; font-weight: bold; }
  pre {word-break: initial !important; word-wrap: normal;}
{% endblock %}

{# vim:set ft=jinja: #}
