{% macro paginator(start, total, perpage, endpoint) %}

  {% set cur_page = start // perpage + 1 %}
  {% set total_page = total // perpage + 1 %}
  {% set begin = max(cur_page-3, 1) %}
  {% set end = min(cur_page+3, total_page) %}
  {% set prev = 'disabled' if cur_page <=1 else '' %}
  {% set next = 'disabled' if cur_page >= total_page else '' %}
  {% set prev_num = max((cur_page-2)*perpage, 0) %}
  {% set kw = paginator_kwargs(kwargs) %}

  {% if total > 0 %}
    <ul class="pagination">
      <li class="{{prev}}"><a href="{{url_for(endpoint, start=prev_num, limit=perpage, **kw)}}">&laquo;</a></li>
        {% for i in range(begin, end+1) %}
          <li class="{{'active' if cur_page == i else ''}}">
            <a href="{{url_for(endpoint, start=(i-1)*perpage, limit=perpage, **kw)}}">{{i}}</a>
          </li>
        {% endfor %}
      <li class="{{next}}"><a href="{{url_for(endpoint, start=cur_page*perpage, limit=perpage, **kw)}}">&raquo;</a></li>
    </ul>
  {% endif %}

{% endmacro %}

{% macro _error_display_in_form(outer_style, inner_style) %}
  {% with errors = get_flashed_messages(category_filter=['error'])%}
    {% if errors %}
      <div class="{{outer_style}}">
        <div class="{{inner_style}}">
          {{caller(errors)}} 
        </div>
      </div>
    {% endif %}
  {% endwith %}
{% endmacro %}

{% macro error_display_in_form(outer_style, inner_style) %}
  {% call(errors) _error_display_in_form(outer_style, inner_style) %}
    {% if errors %}
      {% for error in errors %}
        <div class="alert alert-danger">
          {{error}}
        </div>
      {% endfor %}
    {% endif %}
  {% endcall %}
{% endmacro %}

{% macro left_bar(navigator) %}
  <div class="list-group">
    {% for item in navigator %}
    <a href="{{item.url}}" class="list-group-item {{'active' if item.is_active else ''}}">{{item.label}}</a>
    {% endfor %}
  </div>
{% endmacro %}

{% macro containers_list(containers, show_check=True) %}
  <div class="list-group container-list">
    <li class="list-group-item list-group-item-info">容器列表</li>
    {% for container in containers %}
      <a class="list-group-item" href="{{url_for('container.container', cid=container.container_id)}}">
        {% if show_check %}
          <div class="container-check">
            <input type="checkbox" class="check-container" data-cid="{{container.container_id}}"></input>
          </div>
          <span class="label label-success" style="margin-left: 36px;">name: {{container.application.name}}</span>
        {% else %}
          <span class="label label-success">name: {{container.app_name}}</span>
        {% endif %}
        <span class="label label-success">version: {{container.version}}</span>
        <span class="label label-success">host: {{container.host.ip}}</span>
        <span class="label label-success">port: {{container.port}}</span>
        <span class="glyphicon glyphicon-cloud-download"></span>
        {{container.container_id[:7]}} [ {{container.application.name}} ]
      </a>
    {% endfor %}
  </div>
{% endmacro %}

{% macro app_list(apps, title) %}
  <div class="list-group app-list">
    <li class="list-group-item list-group-item-info">{{title}}</li>
    {% for app in apps %}
      <a class="list-group-item" href="{{url_for('app.single_version', name=app.name, version=app.version)}}">
        <span class="label label-success">name: {{app.name}}</span>
        <span class="label label-success">version: {{app.version}}</span>
        <span class="label label-success">time: {{app.created}}</span>
        <span class="label label-success">container: {{app.n_container}}</span>
        {% if app.processing() %}
          <span class="label label-warning">正在执行任务</span>
        {% else %}
          <span class="label label-info">等待任务</span>
        {% endif %}
        {{app.name}}
      </a>
    {% endfor %}
  </div>
{% endmacro %}

{% macro panel_div(style, title) %}
  <div class="panel panel-{{style}}">
    <div class="panel-heading">{{title}}</div>
    <div class="panel-body">
      {{caller()}} 
    </div>
  </div>
{% endmacro %}

{% macro modal(id, title, ok, close, ok_style, sync=True) %}
  <div class="modal fade" id="{{id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header modal-info">
          <button type="button" class="close" data-dismiss="modal">
              <span aria-hidden="true">&times;</span><span class="sr-only">{{close}}</span>
          </button>
          <h4 class="modal-title">{{title}}</h4>
        </div>
        <div class="modal-body">
          {{caller()}}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">{{close}}</button>
          {% if sync %}
            <button type="submit" class="btn btn-info {{ok_style|safe}}">{{ok}}</button>
          {% else %}
            <button type="button" class="btn btn-info {{ok_style|safe}}">{{ok}}</button>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
{% endmacro %}

{# vim:set ft=jinja: #}
