{% extends "/base.html" %}
{% import "/utils.html" as utils %}

{% block title %}
  Marco Applications
{% endblock %}

{% block main_left %}
  <div class="list-group">
    <a class="list-group-item" href="{{url_for('app.app_set_info', name=app.name)}}">所有版本</a>
  </div>
  {#{{utils.left_bar(nav.app_sub_nav)}}#}
{% endblock %}

{% block main_right %}
  {% if tasks %}
    <div class="list-group">
      <div class="list-group-item list-group-item-info">最近的活动列表</div>
      {% for task in tasks %}
        <a class="list-group-item" href="{{url_for('task.task', task_id=task.id)}}" target="_blank">
          <span class="label label-info">{{task.repr()}}</span>
          {% if task.success() %}
            <span class="label label-success">成功</span>
          {% elif task.processing() %}
            <span class="label label-warning">正在执行...</span>
          {% else %}
            <span class="label label-warning">失败</span>
          {% endif %}
        </a>
      {% endfor %}
    </div>
  {% endif %}

  {% if ptasks %}
    <div class="alert alert-warning" role="alert">
      正在执行任务:
      {% for ptask in ptasks %}
        <p>{{ptask.repr()}}</p>
      {% endfor %}
    </div>
  {% elif app.image_addr %}
    <div class="alert alert-success" role="alert">
      <p>镜像已经构建好, 可以部署了</p>
      <p>镜像地址: {{app.image_addr}}</p>
    </div>
  {% else %}
    <div class="alert alert-success" role="alert">没有正在执行的任务</div>
  {% endif %}

  <div class="text-left">
    <form class="form-inline" role="form">
      <div class="form-group">
        <select id="build-base" class="form-control">
          <option value="auto">根据runtime自动选</option>
          <option value="docker-registry.intra.hunantv.com/nbeimage/ubuntu:python-2014.11.28">python-2014.11.28</option>
          <option value="docker-registry.intra.hunantv.com/nbeimage/ubuntu:java-2014.11.28">java-2014.11.28</option>
          <option value="docker-registry.intra.hunantv.com/nbeimage/ubuntu:nodejs-2014.12.1">nodejs-2014.12.1</option>
        </select>
      </div>
      <button type="button" class="btn btn-info btn-build-image" data-url="{{url_for('ajax.app_build_image', app_id=app.id)}}">构建镜像</button>
    </form>
  </div>

  <div class="text-left app-block">
    <form class="form-inline" role="form">
      <div class="form-group">
        <select id="add-daemon" class="form-control">
          <option value="false">不用Daemon</option>
          <option value="true">用Daemon跑</option>
        </select>
      </div>
      <button type="button" class="btn btn-info btn-add-container" data-url="{{url_for('ajax.app_add_container', app_id=app.id)}}">增加容器</button>
    </form>
  </div>
  <div class="text-left app-block">
    <button type="button" class="btn btn-info btn-test-app" data-url="{{url_for('ajax.app_test_app', app_id=app.id)}}">测试应用</button>
    <button type="button" class="btn btn-warning btn-remove-container" data-url="{{url_for('ajax.app_remove_app', app_id=app.id)}}">下线应用</button>
    <button type="button" class="btn btn-info" onclick='statsToggle(this)' style='float: right'>状态监测</button>
    <div style='clear: both'></div>
  </div>

  <div class="app-block" id='app-stat' style='display: none;'>
      <div><p>CPU 状况</p><svg id='usages_cpu'></svg></div>
      <div><p>内存状况</p><svg id='usages_mem'></svg></div>
      <div><p>网络状况</p><svg id='usages_net'></svg></div>
      <script>
        function statsToggle(btn) {
            $(btn).text('正在拉取数据')[0].onclick = function() {};
            var gMetricsDatum = {
                cpu_usage: [],
                cpu_user: [],
                cpu_system: [],

                net_recv: [],
                net_send: [],
                net_recv_err: [],
                net_send_err: [],

                mem_usage: [],
                mem_rss: [],
            };
            var gDatumTimestamp = {
                cpu_usage: {},
                cpu_user: {},
                cpu_system: {},

                net_recv: {},
                net_send: {},
                net_recv_err: {},
                net_send_err: {},

                mem_usage: {},
                mem_rss: {},
            };
            -function updateCharts(limit, initChart) {
                function updateGraph(selector, graphKeys, yMapF, yLabel) {
                    nv.addGraph(function() {
                      var chart = nv.models.lineChart().options({
                          margin: {left: 100, bottom: 100},
                          padding: {left: 20, right: 20},
                          x: function(d, i) {return i},
                          showXAxis: true,
                          showYAxis: true,
                          transitionDuration: 25
                      });

                      chart.xAxis.axisLabel("Time").tickFormat(function(x) {
                          var t = new Date(gMetricsDatum[graphKeys[0].keyName][x].x * 1000);
                          return t.toTimeString().slice(0, 8);
                      });

                      chart.yAxis.axisLabel(yLabel).tickFormat(d3.format(',.2f'));

                      var datum = graphKeys.map(function(e) {
                          return {
                              values: gMetricsDatum[e.keyName].map(function (e) {return {x: e.x * 1000, y: yMapF(e.y)};}),
                              key: e.keyDisp,
                              color: e.color
                          }
                      })
                      d3.select(selector).datum(datum).call(chart);
                      nv.utils.windowResize(chart.update);
                      chart.dispatch.on('stateChange', function(e) {nv.log('New State:', JSON.stringify(e));});
                      return chart;
                    });
                }

                $.ajax({
                    url: '/ajax/app/{{ app.id }}/all_metrics?version={{ app.version|e }}&limit=' + limit,
                    type: 'GET',
                    success: function(r) {
                        if (initChart) {
                            $('#app-stat').slideToggle('fast');
                        }
                        var i, j, k, timestampGroup, timestamp;
                        for (i in r) {
                            r[i].reverse();
                            timestampGroup = gDatumTimestamp[i];
                            for (j in r[i]) {
                                timestamp = r[i][j][0];
                                if (timestampGroup[timestamp]) {
                                    continue;
                                }
                                timestampGroup[timestamp] = true;

                                gMetricsDatum[i].push({x: timestamp, y: r[i][j][1]});
                            }
                            for (k = gMetricsDatum[i].length - 100; 0 < k; --k) {
                                gMetricsDatum[i].shift();
                            }
                        }
                        updateGraph('#usages_cpu', [
                            {keyName: 'cpu_user', keyDisp: 'User', color: '#0c0'},
                            {keyName: 'cpu_system', keyDisp: 'System', color: 'navy'},
                            {keyName: 'cpu_usage', keyDisp: 'Usage', color: '#c80'}
                        ], function(y) {return y * 100;}, 'CPU (%)');
                        updateGraph('#usages_mem', [
                            {keyName: 'mem_usage', keyDisp: 'Usage', color: '#c80'},
                            {keyName: 'mem_rss', keyDisp: 'RSS', color: 'navy'}
                        ], function(y) {return y / 1048576;}, 'Memory (MB)');
                        updateGraph('#usages_net', [
                            {keyName: 'net_recv', keyDisp: 'Receive', color: '#c80'},
                            {keyName: 'net_send', keyDisp: 'Send', color: 'blue'},
                            {keyName: 'net_recv_err', keyDisp: 'Receive Error', color: 'red'},
                            {keyName: 'net_send_err', keyDisp: 'Send Error', color: 'purple'},
                        ], function(y) {return y / 1048576;}, 'Net (KB)');
                        setTimeout(function() {updateCharts(1, false);}, 10000);
                        $(btn).text('状态检测');
                    },
                    error: function(r) {
                        $(btn).text('拉取数据失败, 刷新页面以重试');
                    }
                });
            }(30, true);
        }
      </script>
  </div>

  <div class="text-left app-block">
    <button type="button" class="btn btn-info btn-sync-db" data-url="{{url_for('ajax.app_sync_db', app_id=app.id)}}">syncdb</button>
    <button type="button" class="btn btn-info btn-update-app" data-url="{{url_for('ajax.update_app', name=app.name)}}" data-version="{{app.version}}">全部更新到这个版本</button>
  </div>

  <div class="app-block">
    {{utils.containers_list(app.containers)}}
  </div>
  <div class="text-right">
    <button class="btn btn-warning btn-collect-all">选择全部</button>
    <button class="btn btn-warning btn-remove-containers disabled" data-url="{{url_for('ajax.remove_containers')}}">下线所选容器</button>
  </div>
{% endblock %}

{% block more_css %}
  .app-block { padding-top: 20px; padding-bottom: 20px; }
  .container-check { position: absolute; border-right: 1px solid #ddd; padding: 0 12px; left: 0; }
{% endblock %}

{% block bottom_script %}
  <script type="text/javascript" src="/marco/static/js/app.js"></script>
  <script type="text/javascript" src="/marco/static/js/charts.js"></script>
{% endblock %}

{% block more_header %}
    <link href="/marco/static/lib/css/d3/nv.d3.css" rel="stylesheet" type="text/css">
    <script src="/marco/static/lib/js/d3/d3.v3.js"></script>
    <script src="/marco/static/lib/js/d3/nv.d3.js"></script>
    <script src="/marco/static/lib/js/d3/tooltip.js"></script>
    <script src="/marco/static/lib/js/d3/utils.js"></script>
    <script src="/marco/static/lib/js/d3/interactiveLayer.js"></script>
    <script src="/marco/static/lib/js/d3/legend.js"></script>
    <script src="/marco/static/lib/js/d3/axis.js"></script>
    <script src="/marco/static/lib/js/d3/scatter.js"></script>
    <script src="/marco/static/lib/js/d3/line.js"></script>
    <script src="/marco/static/lib/js/d3/lineChart.js"></script>
    <style>
      .app-block svg {min-height: 400px; min-width: 640px}
    </style>
{% endblock %}
