{% extends "/base.html" %}
{% import "/utils.html" as utils %}

{% block title %}
  Marco Applications
{% endblock %}

{% block main %}
  <div class="app-block">
    <dl class="dl-horizontal">
      <dt>Name</dt>
      <dd>{{ app.name }}</dd>
      <dt>Version</dt>
      <dd>{{ app.version }}</dd>
      <dt>app.yaml</dt>
      <dd>{{ app.app_yaml.replace('\n', '<br/>') | safe }}</dd>
      <dt>config.yaml</dt>
      <dd>{{ app.original_config_yaml.replace('\n', '<br/>') | safe }}</dd>
    </dl>
  </div>

  {% if app.is_doing_task() %}
    <div class="alert alert-warning" role="alert">正在执行任务</div>
  {% else %}
    <div class="alert alert-success" role="alert">没有正在执行的任务</div>
  {% endif %}

  <button type="button" class="btn btn-primary btn-add-container" data-url="{{ url_for('app.app_add_container', name=app.name, version=app.version) }}">来我们加一个container</button>
  <button type="button" class="btn btn-danger btn-remove-container" data-url="{{ url_for('app.app_remove_app', name=app.name, version=app.version) }}">来我们下掉这个应用</button>

  <div class="app-block">
    {{ utils.containers_block(app.containers) }}
  </div>
{% endblock %}

{% block bottom_script %}
  <script type="text/javascript" src="/marco/static/js/app.js"></script>
{% endblock %}

{# vim:set ft=jinja: #}
