{% extends "/base.html" %}
{% import "/utils.html" as utils %}

{% block title %}
  Marco Applications
{% endblock %}

{% block main %}
  <div class="app-block">
    <dl class="dl-horizontal">
      <dt>Name</dt>
      <dd>{{ app.name }}</dd>
      <dt>Version</dt>
      <dd>{{ app.version }}</dd>
      <dt>app.yaml</dt>
      <dd>{{ app.app_yaml.replace('\n', '<br/>') | safe }}</dd>
      <dt>config.yaml</dt>
      <dd>{{ app.original_config_yaml.replace('\n', '<br/>') | safe }}</dd>
    </dl>
  </div>
  <div class="app-running">
    {{ '在跑呢!' if app.is_doing_task() else '可以跑别的了' }}
  </div>
  <div class="app-block">
    {{ utils.containers_block(app.containers) }}
  </div>
{% endblock %}

{# vim:set ft=jinja: #}
