{% extends "/base.html" %}

{% block title %}
  Marco Applications
{% endblock %}

{% block main %}
  {% for app in apps %}
    <div class="col-xs-6 col-md-3">
      <a href="{{ url_for('app.app_info', name=app.name, version=app.version) }}" class="thumbnail btn btn-success">
        <div class="caption">
          <dl class="dl-horizontal">
              <dt>应用名</dt>
              <dd>{{ app.name }}</dd>
              <dt>版本号</dt>
              <dd>{{ app.version }}</dd>
              <dt>容器数量</dt>
              <dd>{{ app.n_container }}</dd>
          </dl>
        </div>
      </a>
    </div>
  {% endfor %}
{% endblock %}
