{% extends "/app/av_base.html" %}
{% import "/utils.html" as utils %}

{% block content %}
  <div class="row">
    {% if ptasks %}
      <div class="alert alert-warning" role="alert">
        正在执行任务:
        {% for ptask in ptasks %}
          <p>{{ptask.repr()}}</p>
        {% endfor %}
      </div>
    {% elif app.image_addr %}
      <div class="alert alert-success" role="alert">
        <p>镜像已经构建好, 可以部署了</p>
        <p>镜像地址: {{app.image_addr}}</p>
      </div>
    {% else %}
      <div class="alert alert-success" role="alert">没有正在执行的任务</div>
    {% endif %}
  </div>
  <div class="row row-margin">
    <div class="text-left">
      <form class="form-inline" role="form">
        <div class="form-group">
          <select id="build-host" class="form-control">
            {% for host in hosts %}
            <option value="{{host.id}}">{{host.ip}}</option>
            {% endfor %}
          </select>
        </div>
        <div class="form-group">
          <select id="build-base" class="form-control">
            <option value="auto">根据runtime自动选</option>
            <option value="docker-registry.intra.hunantv.com/nbeimage/ubuntu:python-2014.11.28">python-2014.11.28</option>
            <option value="docker-registry.intra.hunantv.com/nbeimage/ubuntu:java-2014.11.28">java-2014.11.28</option>
            <option value="docker-registry.intra.hunantv.com/nbeimage/ubuntu:nodejs-2014.12.1">nodejs-2014.12.1</option>
          </select>
        </div>
        <button type="button" class="btn btn-info btn-build-image" data-url="{{url_for('ajax.app_build_image', app_id=app.id)}}">构建镜像</button>
      </form>
    </div>
  </div>
  <div class="row row-margin">
    <div class="text-left app-block">
      <form class="form-inline" role="form">
        <div class="form-group">
          <select id="add-host" class="form-control">
            {% for host in hosts %}
            <option value="{{host.id}}">{{host.ip}}</option>
            {% endfor %}
          </select>
        </div>
        <div class="form-group">
          <select id="add-daemon" class="form-control">
            <option value="false">不用Daemon</option>
            <option value="true">用Daemon跑</option>
          </select>
        </div>
        <button type="button" class="btn btn-info btn-add-container" data-url="{{url_for('ajax.app_add_container', app_id=app.id)}}">增加容器</button>
      </form>
    </div>
  </div>
  <div class="row row-margin">
    <div class="text-left app-block">
      <button type="button" class="btn btn-info btn-test-app" data-url="{{url_for('ajax.app_test_app', app_id=app.id)}}">测试应用</button>
      <button type="button" class="btn btn-warning btn-remove-container" data-url="{{url_for('ajax.app_remove_app', app_id=app.id)}}">下线应用</button>
    </div>
  </div>
  <div class="row row-margin">
    <div class="text-left app-block">
      <button type="button" class="btn btn-info btn-sync-db" data-url="{{url_for('ajax.app_sync_db', app_id=app.id)}}">syncdb</button>
      <button type="button" class="btn btn-info btn-update-app" data-url="{{url_for('ajax.update_app', name=app.name)}}" data-version="{{app.version}}">全部更新到这个版本</button>
    </div>
  </div>
  <div class="row row-margin">
    {{utils.containers_list(app.containers)}}
    <div class="text-right">
      <button class="btn btn-warning btn-collect-all">选择全部</button>
      <button class="btn btn-warning btn-remove-containers disabled" data-url="{{url_for('ajax.remove_containers')}}">下线所选容器</button>
    </div>
  </div>
{% endblock %}

{% block more_css %}
  .row-margin {padding-bottom: 15px;}
  .container-check {position: absolute; border-right: 1px solid #ddd; padding: 0 12px; left: 0;}
{% endblock %}

{% block bottom_script %}
  <script type="text/javascript" src="/marco/static/js/app.js"></script>
{% endblock %}
