{% extends "/app/av_base.html" %}
{% import "/utils.html" as utils %}

{% block content %}
  <div class="row">
    {% if ptasks %}
      <div class="alert alert-warning" role="alert">
        正在执行任务:
        {% for ptask in ptasks %}
          <p>{{ptask.repr()}}</p>
        {% endfor %}
      </div>
    {% elif app.image_addr %}
      <div class="alert alert-success" role="alert">
        <p>镜像已经构建好, 可以部署了</p>
        <p>镜像地址: {{app.image_addr}}</p>
      </div>
    {% else %}
      <div class="alert alert-success" role="alert">没有正在执行的任务</div>
    {% endif %}
  </div>
  <div class="row row-margin">
    <div class="text-left">
      <form class="form-inline" role="form">
        <div class="form-group">
          <select id="build-host" class="form-control">
            {% for host in hosts %}
            <option value="{{host.id}}">{{host.ip}}</option>
            {% endfor %}
          </select>
        </div>
        <div class="form-group">
          <select id="build-base" class="form-control">
            <option value="auto">根据runtime自动选</option>
            <option value="docker-registry.intra.hunantv.com/nbeimage/ubuntu:python-2014.11.28">python-2014.11.28</option>
            <option value="docker-registry.intra.hunantv.com/nbeimage/ubuntu:java-2014.11.28">java-2014.11.28</option>
            <option value="docker-registry.intra.hunantv.com/nbeimage/ubuntu:nodejs-2014.12.1">nodejs-2014.12.1</option>
            <option value="docker-registry.intra.hunantv.com/nbeimage/ubuntu:php-2014.12.18">php-2014.12.18</option>
          </select>
        </div>
        <button type="button" class="btn btn-info btn-build-image" data-url="{{url_for('ajax.app_build_image', app_id=app.id)}}">构建镜像</button>
      </form>
    </div>
  </div>
  <div class="row row-margin">
    <div class="text-left app-block">
      <div class="form-inline">
        <div class="form-group">
          <select id="add-daemon" class="form-control">
            <option value="false">不用Daemon</option>
            <option value="true">用Daemon跑</option>
          </select>
        </div>
        {% if sub_apps %}
        <div class='form-group'>
            <select id='select-sub-app' class='form-control'>
                <option value=''>{{ app.name }}</option>
                {% for sub_app in sub_apps %}
                    <option value='{{ sub_app.appname }}'>{{ sub_app.appname }}</option>
                {% endfor %}
            </select>
        </div>
        {% else %}
            <input id='select-sub-app' type='hidden' value=''>
        {% endif %}
        {% if core_quota %}
        <input id='freecores' type='hidden' data-freecores='{{ free_cores|tojson }}'>
        <input id='corequota' type='hidden' data-quota='{{ core_quota|tojson }}'>
        <div class="form-group">
          <button id='cores-retain-btn' class='btn btn-primary' data-toggle="modal" data-target='#cores-retain' data-strategy='{"retain":false}'>独占策略: <span id='cores-retain-brief'>非独占</span></button>
          {% call utils.modal('cores-retain', '设定独占策略', '确定', '取消', 'setup-cores-retain', sync=False) %}
            <label><input type='checkbox' id='cores-retain-check'> 以 CPU 独占方式运行容器</label>
            <div id='cores-retain-panel'>
                <label>独占于集群 <b id='cores-retain-pod-name'></b> 上的 CPU</label>
                <div style='clear: both'></div>
                  <div style='width: 30%; float: left'>每个容器占有核数: <span id='cores-retain-core-count-display'><span></div>
                  <div id='cores-retain-core-count' style='margin: 8px; width: 40%; float: left'></div>
                <div style='clear: both'></div>
                <div style='clear: both'></div>
                  <div style='width: 30%; float: left'>容器数: <span id='cores-retain-container-count-display'><span></div>
                  <div id='cores-retain-container-count' style='margin: 8px; width: 40%; float: left'></div>
                <div style='clear: both'></div>
            </div>
          {% endcall %}
        </div>
        {% endif %}
        <button type="button" class="btn btn-info btn-add-container" data-url="{{url_for('ajax.app_add_container', app_id=app.id)}}">增加容器</button>
      </div>
    </div>
  </div>
  <div class="row row-margin">
    <div class="text-left app-block">
      <button type="button" class="btn btn-info btn-test-app" data-url="{{url_for('ajax.app_test_app', app_id=app.id)}}">测试应用</button>
      <button type="button" class="btn btn-warning btn-remove-container" data-url="{{url_for('ajax.app_remove_app', app_id=app.id)}}">下线应用</button>
      <button type='button' class='btn btn-primary' data-toggle="modal" data-target="#subapp">设定子应用</button>
      {% call utils.modal('subapp', '设定子应用', '确定', '取消', 'sub-app-create', sync=False) %}
        {% if sub_apps %}
          <dl class="dl-horizontal">
            <dt>Sub App List</dt>
            <dd>
              {% for sub_app in sub_apps %}
                <button class='btn btn-info btn-sub-app-show' style='margin-bottom: 4px' data-sub='{{ sub_app|tojson }}'>{{ sub_app.appname }}</button>
              {% endfor %}
            </dd>
          </dl>
        {% endif %}
        <form id="sub-apps-settings" class="form-horizontal" role="form">
          <div class="form-group">
            <label class="col-sm-2 control-label">Name</label>
            <div class="col-sm-10">
                <label>{{app.name}}-</label><input class="form-control" type="text" value="" id="sub-app-name" name="subname" style='display: inline-block; width: initial'>
            </div>
          </div>
          <div class="form-group">
              <label class="col-sm-2 control-label">Port</label>
            <div class="col-sm-10">
              <input class="form-control" type="text" value="5000" id="sub-app-port" name="port">
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">Runtime</label>
            <div class="col-sm-10">
              <input class="form-control" type="text" value="{{app.app_yaml.runtime|e}}" name="runtime">
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">Build</label>
            <div class="col-sm-10">
              <input class="form-control" type="text" value="{{app.app_yaml.build|join_textarea_content|e}}" name="build">
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">Cmd</label>
            <div class="col-sm-10">
              <input class="form-control" type="text" value="{{app.app_yaml.cmd|join_textarea_content|e}}" name="cmd">
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">Daemon</label>
            <div class="col-sm-10">
              <input class="form-control" type="text" value="{{app.app_yaml.daemon|join_textarea_content|e}}" name="daemon">
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">Static</label>
            <div class="col-sm-10">
              <input class="form-control" type="text" value="{{app.app_yaml.static|e}}" name="static">
            </div>
          </div>
        </form>
        <input type="hidden" class="sub-app-url" data-name="{{app.name}}" data-version="{{app.version}}">
        <span id='sub-app-error'></span>
      {% endcall %}
    </div>
  </div>
  <div class="row row-margin">
    <div class="text-left app-block">
      <button type="button" class="btn btn-info btn-sync-db" data-url="{{url_for('ajax.app_sync_db', app_id=app.id)}}">syncdb</button>
      <button type="button" class="btn btn-info btn-update-app" data-url="{{url_for('ajax.update_app', name=app.name)}}" data-version="{{app.version}}">全部更新到这个版本</button>
    </div>
  </div>
  <div class="row row-margin">
    {{utils.containers_list(app.containers)}}
    <div class="text-right">
      <button class="btn btn-warning btn-collect-all">选择全部</button>
      <button class="btn btn-warning btn-remove-containers disabled" data-url="{{url_for('ajax.remove_containers')}}">下线所选容器</button>
    </div>
  </div>
{% endblock %}

{% block more_css %}
  .row-margin {padding-bottom: 15px;}
  .container-check {position: absolute; border-right: 1px solid #ddd; padding: 0 12px; left: 0;}
{% endblock %}

{% block bottom_script %}
  <script type="text/javascript" src="/marco/static/js/app.js"></script>
{% endblock %}
