{% extends "/base.html" %}
{% import "/utils.html" as utils %}

{% block title %}
  Marco Applications
{% endblock %}

{% block main_left %}
  {{utils.left_bar(nav.app_sub_nav)}}
{% endblock %}

{% block main_right %}
  <div class="list-group">
    <li class="list-group-item list-group-item-info">应用列表</li>
    {% for app_name in app_names %}
      <li class="list-group-item">
        <span class="glyphicon glyphicon-cloud-upload"></span>
        <a href="{{url_for('app.app_set_info', name=app_name)}}">{{app_name}}</a>
      </li>
    {% endfor %}
  </div>
{% endblock %}
